.wrapper-overide-css .slick-slider 
    .wrapper-override-fix-button.slick-prev{
        left: -5px;
        z-index: 20;
        top: 50%;
    }
.wrapper-overide-css .slick-slider .wrapper-override-fix-button.slick-prev ::before {
    content: "" !important;
}
.wrapper-overide-css .slick-slider .wrapper-override-fix-button.slick-next{
        right: 5px;
        z-index: 20;
        top: 50%;
        color: white;
        background: transparent ;
        
    }
.wrapper-overide-css .slick-slider .wrapper-override-fix-button.slick-next ::before{
        content: "" !important;
    }